<div class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "WRINT Einbeiniger", root_path, { class: 'navbar-brand' } %>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <% if current_user %>
          <li><%= link_to "Vorschläge", proposals_path %></li>
      <% end %>
      </ul>

      <% if current_user %>
        <p class="navbar-text pull-right">
      <%= current_user.email %>
      <%= link_to raw('<span class="glyphicon glyphicon-log-out"></span>'), destroy_user_session_path, { method: "DELETE", class: "navbar-link", title: "Abmelden" } %>
      </p>
    <% else %>
        <%= form_for(:user, :url => session_path(:user), html: { class: 'navbar-form navbar-right' }) do |f| %>
        <div class="form-group">
        <%= f.email_field :email, :autofocus => true, placeholder: 'Email', class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.password_field :password, placeholder: "Passwort", class: 'form-control' %>
      </div>
      <div class="btn-group">
        <%= f.submit "Login", class: 'btn btn-success' %>
        <%= link_to "Registrieren", new_user_registration_path, { class: 'btn btn-default' } %>
      </div>
    <% end %>
    <% end %>
    </div>
  </div>
</div>
