<h1>Vorschlag: <%= @proposal.title %></h1>
<p>
  <b>Thema:</b> <%= @proposal.description %>
</p>
<p>
  <b>Status:</b> <%= @proposal.translated_state %> <br />
  <% if @proposal.show %><b>Show:</b> <%= @proposal.show.date %><% end %>
</p>

<%= render 'moderator_actions' if current_user.moderator? %>
<%= render 'user_details' if current_user.moderator? %>


<%= link_to t(:edit), edit_proposal_path(@proposal) %> |
<%= link_to t(:back), proposals_path %>
