<h1>Vorschlag: <%= @proposal.title %></h1>
<p>
  <%= @proposal.description %>
</p>
<p>
  <b>Status:</b> <%=t "proposal.#{@proposal.state}" %> <br />
  <b>Show:</b> <%= @proposal.show.date if @proposal.show %>
</p>

<%= link_to t(:edit), edit_proposal_path(@proposal) %> |
<%= link_to t(:back), proposals_path %>
