<h1>Vorschlag: <%= @proposal.title %></h1>
<p>
  <%= @proposal.description %>
</p>
<p>
  <b>Status:</b> <%= @proposal.german_state %> <br />
  <b>Show:</b> <%= @proposal.show.date if @proposal.show %>
</p>

<%= link_to 'Bearbeiten', edit_proposal_path(@proposal) %> |
<%= link_to 'Zurück', proposals_path %>
