<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Einbeiniger</title>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
</head>
<body>
<div id="wrap">
  <%= render "shared/menu" %>
  <div class="container main-container">
    <% if flash[:notice] %>
      <div class="alert alert-success"><%= flash[:notice] %></div>
  <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger"><%= flash[:alert] %></div>
  <% end %>
    <%= yield %>
  </div>
</div>
<div id="footer">
  <div class="container">
    <p class="text-muted credit">&copy; 2013, @timbuchwaldt, @klaustopher</p>
  </div>
</div>
</body>
</html>
