<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Einbeiniger</title>
<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
<%= csrf_meta_tags %>
<script type="text/javascript">
/* <![CDATA[ */
(function() {
    var s = document.createElement('script');
    var t = document.getElementsByTagName('script')[0];

    s.type = 'text/javascript';
    s.async = true;
    s.src = '//api.flattr.com/js/0.6/load.js?mode=auto';

    t.parentNode.insertBefore(s, t);
 })();
/* ]]> */
</script>
</head>
<body>
<div id="wrap">
  <%= render "shared/menu" %>
  <div class="container main-container">
    <% if flash[:notice] %>
      <div class="alert alert-success"><%= flash[:notice] %></div>
  <% end %>
    <% if flash[:alert] %>
      <div class="alert alert-danger"><%= flash[:alert] %></div>
  <% end %>
    <%= yield %>
  </div>
</div>
<div id="footer">
  <div class="container">
    <p class="text-muted credit">&copy; 2013, @timbuchwaldt, @klaustopher <span style="float:right;display:inline-block"><a class="FlattrButton" href="http://einbeiniger.herokuapp.com/" title="Einbeinigen unterstützen" lang="de_DE" rel="flattr;uid:21studios;category:software;button:compact">Entwicklung des Einbeinigen unterstützen</a></span></p>
  </div>
</div>
</body>
</html>
